.style3 {font-size: smaller}
.style19 {	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
}
.style20 {font-family: Arial, Helvetica, sans-serif}
.style28 {font-size: small}
.style43 {font-family: Arial, Helvetica, sans-serif; color: #841121; font-weight: bold; font-style: italic; }
.style27 {font-size: smaller; font-family: Arial, Helvetica, sans-serif; color: #000000;}
.style34 {font-family: Arial, Helvetica, sans-serif; font-size: small; }
.style39 {font-family: Arial, Helvetica, sans-serif; font-size: small; font-weight: bold; }
.style40 {font-size: small; font-family: Arial, Helvetica, sans-serif; color: #000000; }
.style61 {font-size: x-small}
.style41 {font-weight: bold; color: #841121;}
.style44 {font-size: small; font-family: Arial, Helvetica, sans-serif; color: #000000; font-style: italic; }
.style60 {font-size: x-small; font-family: Arial, Helvetica, sans-serif; }
body {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #CDC296;
	margin-top: 0px;
}
.style14 {color: #FFFFFF}
.style67 {color: #841121; font-weight: bold; font-size: small; font-family: Arial, Helvetica, sans-serif;}
.style68 {color: #000000}
.style73 {font-size: larger}
.style77 {font-size: smaller; color: #000066; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.style78 {font-size: xx-large; }
.style83 {
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000066;
}
.style84 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
.style85 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.style86 {
	color: #CC0000;
	font-weight: bold;
	font-style: italic;
}
.style87 {
	color: #660000;
	font-weight: bold;
}
.style88 {font-size: large}
.style89 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.style90 {font-size: x-small; font-weight: bold; }
.style91 {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
}
.style93 {font-family: Arial, Helvetica, sans-serif; font-size: x-large; }
.style95 {font-family: Arial, Helvetica, sans-serif; font-size: xx-large; }
.style98 {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}
.style100 {font-size: smaller; font-family: Verdana, Arial, Helvetica, sans-serif; }
.style101 {font-size: 12pt}
.style103 {font-size: larger; font-weight: bold; }